include requirements.txt
include Makefile
include tox.ini
include CHANGELOG.md

recursive-include assets *
recursive-include .github *

recursive-include QStyler/icons *
recursive-include QStyler/themes *
recursive-include QStyler/data *

recursive-exclude .tox *
